**/**
!.gitignore
!OJ
!OJ/**
!OJ/**/**
**/.vscode
**.txt
**junk**
**/simpleSTL/**
!**/simpleSTL/deque
!**/simpleSTL/deque/deque.hpp
!**/simpleSTL/map
!**/simpleSTL/map/map.hpp
**TLE**
**test**
!utils
!utils/update_readme.py
!utils/FetchLeet.ps1
!utils/FetchLeet-ZN.ps1
!README.md