**/**
!.gitignore
!OJ
!OJ/**
!OJ/**/**
**leet000**
**/.vscode
**.txt
**.exe
**.obj
**.o
**.out
**.stackdump
**.pdb
**.ilk
**target**
**Debug**
**junk**
**/simpleSTL/**
!**/simpleSTL/deque
!**/simpleSTL/deque/deque.hpp
!**/simpleSTL/map
!**/simpleSTL/map/map.hpp
**TLE**
**test**
!utils
!utils/*.py
!README.md