__pycache__
**/.vscode
**.txt
**.exe
**.obj
**.o
**.out
**.stackdump
**.pdb
**.ilk
**.sqlite
**.pkl
**leet000**
**target**
**Debug**
**junk**
**/simpleSTL/**
**TLE**
**test**
utils/*.ipynb
OJre